--- ☼ Температура: {{ temperature  }}
_________________________________
--- ☂ Влажность: {{ humidity }}
_________________________________
--- ☵ Датчик погружения: {{ immersion }}
_________________________________
